.ripple-background {
  .circle {
    position: absolute;
    border-radius: 50%;
    background: #e5bf4a;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #e5bf4a;
    z-index: -1;
  }

  .small {
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
  }

  .medium {
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
  }

  .large {
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
  }

  .xlarge {
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
  }

  .xxlarge {
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }

  .shade1 {
    opacity: 0.2;
  }

  .shade2 {
    opacity: 0.5;
  }

  .shade3 {
    opacity: 0.7;
  }

  .shade4 {
    opacity: 0.8;
  }

  .shade5 {
    opacity: 0.9;
  }

  @keyframes ripple {
    0% {
      transform: scale(0.8);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(0.8);
    }
  }
}

.hero {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero img {
  animation: imgRotate 50s linear infinite;
  width: 70%;
}

@media (max-width: 768px) {
  .hero img {
    width: 50%;
  }
}

@keyframes imgRotate {
  100% {
    transform: rotate(360deg);
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both
}

@keyframes slideInLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible
  }

  to {
    transform: translateZ(0)
  }
}

.slideInLeft {
  animation-name: slideInLeft
}