<div class="container my-5 py-5">
  <div class="row align-items-center g-5">
      <div class="col-lg-6 text-center text-lg-start">
          <h2 class="display-3 animated slideInLeft">Enjoy Our<br>Delicious Meal</h2>
          <p class="animated slideInLeft mb-4 pb-2">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
          <a href="" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Book A Table</a>
      </div>
      <div class="col-lg-6 text-center hero">
          <img class="img-fluid" src="https://technext.github.io/restoran/img/hero.png" alt="">
      </div>
  </div>
</div>


<div class="ripple-background">
  <div class="circle xxlarge shade1"></div>
  <div class="circle xlarge shade2"></div>
  <div class="circle large shade3"></div>
  <div class="circle mediun shade4"></div>
  <div class="circle small shade5"></div>
</div>