.accordion {

    margin: 3rem 0 4rem;

      .accordion-item {
        border: 0;
        border-top: 1px solid black;
        border-radius: 0;
        background: transparent;

        &:first-of-type {
          border-radius: 0;
        }

        &:last-of-type {
          border-bottom: 1px solid black;
        }

        // accordion header
        .accordion-header {
          .accordion-button {
            padding: 18 * 1.25 0;
            background-color: transparent;

            .accordion-button-title {
              display: inline-block;
              p {
                &:last-of-type {
                  margin-bottom: 0;
                }
              }
            }

            h5 {
              width: 70%;
            }

            &:focus {
              box-shadow: none;
            }

            &::after {
              transform: rotate(45deg);
              border: solid #e5bf4a;
              border-width: 0 2px 2px 0;
              display: inline-block;
              width: 10px;
              height: 10px;
              padding: 2px;
              background: none;
            }

            &:not(.collapsed) {
              color: black;
              background-color: transparent;
              box-shadow: none;

              &::after {
                transform: rotate(225deg);
              }
            }

          }
        }

        // accordion body
        .accordion-body {
          padding: 0 0 18 * 1.25;

          ul {
            padding-left: 21px;
            li {
              margin-bottom: 18 * 0.5;
              &:last-of-type {
                margin-bottom: 0;
              }
            }
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
  }
