
.post-entry.small-post-entry-v .heading a, .post-entry.small-post-entry-v .heading {
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 700;
    color: #222;
    text-decoration: none;
}

.post-entry .post-author .author-pic {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45px;
    flex: 0 0 45px;
    margin-right: 10px;
}

.post-entry .post-author .author-pic img {
    max-width: 100%;
    border-radius: 50%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}


.article-grid {
    a {
        color: #000;
        text-decoration: none;
    }
    span:not(.date) {
        display: block;
    }
}