<div class="container article-grid">
  <div class="row justify-content-center my-5">
    <div class="col-xl-6 col-lg-7 col-md-7">
      <div class="section-tittle text-center mb-50">
        <h2>News</h2>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-lg-4">
      <div class="post-entry d-block small-post-entry-v">
        <div class="thumbnail">
          <a href="single.html">
            <img src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="content">
          <div class="post-meta mb-1">
            <a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a> —
            <span class="date">July 2, 2020</span>
          </div>
          <h3 class="heading mb-3"><a href="single.html">Your most unhappy customers are your greatest source of
              learning.</a></h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
          <a href="#" class="post-author d-flex align-items-center mb-5">
            <div class="author-pic">
              <img src="https://preview.colorlib.com/theme/magdesign/images/xperson_1.jpg.pagespeed.ic.Zebptmx_f8.webp"
                alt="Image" class="img-fluid">
            </div>
            <div class="text">
              <strong>Sergy Campbell</strong>
              <span>CEO and Founder</span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="post-entry d-block small-post-entry-v">
        <div class="thumbnail">
          <a href="single.html">
            <img src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="content">
          <div class="post-meta mb-1">
            <a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a> —
            <span class="date">July 2, 2020</span>
          </div>
          <h3 class="heading mb-3"><a href="single.html">Your most unhappy customers are your greatest source of
              learning.</a></h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
          <a href="#" class="post-author d-flex align-items-center mb-5">
            <div class="author-pic">
              <img src="https://preview.colorlib.com/theme/magdesign/images/xperson_1.jpg.pagespeed.ic.Zebptmx_f8.webp"
                alt="Image">
            </div>
            <div class="text">
              <strong>Sergy Campbell</strong>
              <span>CEO and Founder</span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="post-entry d-block small-post-entry-v">
        <div class="thumbnail">
          <a href="single.html">
            <img src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg" alt="Image" class="img-fluid">
          </a>
        </div>
        <div class="content">
          <div class="post-meta mb-1">
            <a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a> —
            <span class="date">July 2, 2020</span>
          </div>
          <h3 class="heading mb-3"><a href="single.html">Your most unhappy customers are your greatest source of
              learning.</a></h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
          <a href="#" class="post-author d-flex align-items-center mb-5">
            <div class="author-pic">
              <img src="https://preview.colorlib.com/theme/magdesign/images/xperson_1.jpg.pagespeed.ic.Zebptmx_f8.webp"
                alt="Image">
            </div>
            <div class="text">
              <strong>Sergy Campbell</strong>
              <span>CEO and Founder</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>