<div class="container">
    <div class="row my-5">
      <div class="col-12">
        <h2>Mains</h2>
        <div class="row row-cols-2 row-cols-md-4 g-4">
          <div class="col" v-for="content in contents">
            <div class="card">
              <img src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg" class="card-img-top" alt="img">
              <div class="card-body">
                <h5 class="card-title">{{content.title}}</h5>
                <p class="card-text">{{content.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>