<div class="container location-map">
  <div class="row justify-content-center my-5">
    <div class="col-xl-6 col-lg-7 col-md-7">
      <div class="section-tittle text-center mb-50">
        <h2>Location</h2>
      </div>
    </div>
  </div>
  <div class="row my-5 row-cols-1 row-cols-md-2">
    <div class="col">
      <h2 class="p-2">Contact</h2>
      <div class="p-2">
        <p>Phone: <a href="tel:+65 6688 8690">+65 6688 8690</a></p>
        <h3>Address</h3>
        <p>
          The Shoppes at Marina Bay Sands, 2 Bayfront Avenue, #B1-67,
          Singapore 018972
        </p>
        <p>
          For any other questions, please email us at
          <a href="mailto:KOMA.Info@Marinabaysands.com">koma.reservations@marinabaysands.com</a>.
        </p>
      </div>
    </div>
    <div class="col">
      <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.288978967152!2d103.8478666!3d1.2803133!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x85ce69bf14c23e47!2sConvertium%20Pte%20Ltd!5e0!3m2!1sen!2ssg!4v1646625375726!5m2!1sen!2ssg"
          width="100%" height="450" style="border: 0" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</div>

<SocialMedia />