<div class="row justify-content-center my-5">
  <div class="col-xl-6 col-lg-7 col-md-7">
    <div class="section-tittle text-center mb-50">
      <h2>Lightbox</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <div class="row">
        <div @click="showLightBox" class="col-sm-4 pb-4" v-for="content in contents">
          <img :src="content.img" class="img-fluid">
        </div>
        <div>
          <!-- lightbox -->
          <vue-easy-lightbox scrollDisabled escDisabled moveDisabled :visible="visible" :imgs="imgs" :index="index"
            @hide="handleHide"></vue-easy-lightbox>


        </div>
      </div>
    </div>
  </div>
</div>