.social-media-container {
  color: #FFF;
}

ul {
  li {
    list-style-type: none;
  }
}

.btn_02 {
  color: #fff!important;
  border: 1px solid rgba(255,255,255,.2);
  display: inline-block;
  padding: 14px 36px 13px 39px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 400;
  background: none;
  border-radius: 0;
  margin-right: 4px;
  margin-bottom: 10px;
}

.cat-img {
  flex: 0 0 45px;
  margin-right: 10px;
  img {
    max-width: 100%;
    border-radius: 50%;
    width: 100px;
  }
  p {
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
  }
}