<div class="bg-dark">
  <div class="container py-5 text-white">
    <div class="row justify-content-center">
      <section class="customer-section section-padding">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-7">
              <div class="section-tittle  text-center mb-50">
                <h2>Food Lover's Say</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 py-5">
              <div class="single-cat mb-30">
                <div class="cat-cap">
                  <p>"Consectetur adipiscing elit, sed do eiusmod tempor dunt ulter labore et dolore magna.</p>
                </div>
                <div class="cat-img">
                  <img
                    src="https://preview.colorlib.com/theme/magdesign/images/xperson_1.jpg.pagespeed.ic.Zebptmx_f8.webp"
                    alt="">
                  <p>Agnes chong</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 py-5">
              <div class="single-cat mb-30">
                <div class="cat-cap">
                  <p>"Consectetur adipiscing elit, sed do eiusmod tempor dunt ulter labore et dolore magna.</p>
                </div>
                <div class="cat-img">
                  <img
                    src="https://preview.colorlib.com/theme/magdesign/images/xperson_1.jpg.pagespeed.ic.Zebptmx_f8.webp"
                    alt="">
                  <p>Agnes chong</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 py-5">
              <div class="single-cat mb-30">
                <div class="cat-cap">
                  <p>"Consectetur adipiscing elit, sed do eiusmod tempor dunt ulter labore et dolore magna.</p>
                </div>
                <div class="cat-img">
                  <img
                    src="https://preview.colorlib.com/theme/magdesign/images/xperson_1.jpg.pagespeed.ic.Zebptmx_f8.webp"
                    alt="">
                  <p>Agnes chong</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>