<div class="container">
  <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
      <h5 class="section-title">Food Menu</h5>
      <h1 class="mb-5">Most Popular Items</h1>
  </div>
  <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
      <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
          <li class="nav-item">
              <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
                <h6 class="mt-n1 mb-0">Beef</h6>
              </a>
          </li>
          <li class="nav-item">
              <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                <h6 class="mt-n1 mb-0">Chicken</h6>
              </a>
          </li>
          <li class="nav-item">
              <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                <h6 class="mt-n1 mb-0">Seafood</h6>
              </a>
          </li>
      </ul>
      <div class="tab-content">
          <div id="tab-1" class="tab-pane fade p-0">
              <div class="row g-4">
                  <div class="col-lg-6" v-for="beef in beefs">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                              <h5 class="d-flex justify-content-between border-bottom pb-2">
                                  <span>{{beef.item}}</span>
                                  <span class="text-primary">{{beef.price}}</span>
                              </h5>
                              <small class="fst-italic">{{beef.description}}</small>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div id="tab-2" class="tab-pane fade p-0">
              <div class="row g-4">
                  <div class="col-lg-6" v-for="chicken in chickens">
                    <div class="d-flex align-items-center">
                      <div class="w-100 d-flex flex-column text-start ps-4">
                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                <span>{{chicken.item}}</span>
                                <span class="text-primary">{{chicken.price}}</span>
                            </h5>
                            <small class="fst-italic">{{chicken.description}}</small>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
          <div id="tab-3" class="tab-pane fade p-0 active show">
              <div class="row g-4">
                  <div class="col-lg-6" v-for="seafood in seafoods">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                <span>{{seafood.item}}</span>
                                <span class="text-primary">{{seafood.price}}</span>
                            </h5>
                            <small class="fst-italic">{{seafood.description}}</small>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>