<template>
  <div class="chefview">
    <ArticleGrid />
    <ArticleGridList />
  </div>
</template>

<script>
// @ is an alias to /src
import ArticleGrid from '../components/articlegrid/ArticleGrid.vue'
import ArticleGridList from '../components/articlegridlist/ArticleGridList.vue'

export default {
  name: 'ArticleView',
  components: {
    ArticleGrid,
    ArticleGridList
  }
}
</script>