<template>
  <div class="chefview">
    <MastheadMainSub />
    <CarouselSwiper />
    <CarouselCaption />
    <LightBox />
  </div>
</template>

<script>
// @ is an alias to /src
import MastheadMainSub from '../components/mastheadsub/MastheadMainSub.vue'
import CarouselCaption from '../components/carouselcaption/CarouselCaption.vue'
import CarouselSwiper from '../components/carouselswiper/CarouselSwiper.vue'
import LightBox from '../components/lightbox/LightBox.vue'

export default {
  name: 'ChefView',
  components: {
    CarouselCaption,
    CarouselSwiper,
    LightBox,
    MastheadMainSub
  }
}
</script>