<template>
  <div class="home">
    <MastheadMain />
  </div>
</template>

<script>
// @ is an alias to /src
import MastheadMain from '../components/mastheadmain/MastheadMain.vue'

export default {
  name: 'HomeView',
  components: {
    MastheadMain
  },
}
</script>