<template>
  <div class="chefview">
    <LocationMap />
  </div>
</template>

<script>
// @ is an alias to /src
import LocationMap from '../components/locationmap/LocationMap.vue'

export default {
  name: 'LocationView',
  components: {
    LocationMap
  }
}
</script>