<template>
  <div class="chefview">
    <MastheadBg />
    <AccordionMenu />
  </div>
</template>

<script>
// @ is an alias to /src
import AccordionMenu from '../components/accordionmenu/AccordionMenu.vue'
import MastheadBg from '../components/mastheadbg/MastheadBg.vue'


export default {
  name: 'MenuView',
  components: {
    MastheadBg,
    AccordionMenu
  }
}
</script>