<template>
  <div class="chefview">
    <FormReservation />
    <SocialReview />
  </div>
</template>

<script>
// @ is an alias to /src
import FormReservation from '../components/formreservation/FormReservation.vue'
import SocialReview from '../components/socialreview/SocialReview.vue'

export default {
  name: 'ReservationsView',
  components: {
    FormReservation,
    SocialReview,

  }
}
</script>