img {
    &.rounded-circle {
        width: 150px;
        height: 150px;
    }
}

.swiper-slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    p {
        text-align: center;
        color: #FFF;
    }
}

@media (max-width: 768px) {
    .swiper-wrapper {
        display: block;
        height: auto;
        text-align: center !important;
    }
    .swiper-slide {
        width: 100% !important;
        margin-right: 0 !important;
        display: inline;
    }
}