<div class="container">
  <div class="row my-5">
    <swiper @swiper="onSwiper" :slidesPerView="5" :spaceBetween="50" navigation :scrollbar="{ draggable: true }"
      :pagination="{ clickable: true }" :modules="modules">
      <swiper-slide>
        <img src="https://convertium.com/img/company/people/celebrate.jpg" class="rounded-circle">
        <p>Chef Agnes</p>
      </swiper-slide>
      <swiper-slide>
        <img src="https://convertium.com/img/company/people/communicate.jpg" class="rounded-circle">
        <p>Chef Agnes</p>
      </swiper-slide>
      <swiper-slide>
        <img src="https://convertium.com/img/company/people/celebrate.jpg" class="rounded-circle">
        <p>Chef Agnes</p>
      </swiper-slide>
      <swiper-slide>
        <img src="https://convertium.com/img/company/people/communicate.jpg" class="rounded-circle">
        <p>Chef Agnes</p>
      </swiper-slide>
      <swiper-slide>
        <img src="https://convertium.com/img/company/people/celebrate.jpg" class="rounded-circle">
        <p>Chef Agnes</p>
      </swiper-slide>
    </swiper>
  </div>
</div>