<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-xl-6 col-lg-7 col-md-7">
      <div class="section-tittle text-center mb-50">
        <h2>Contact Us Form</h2>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col">
      <form action="/action_page.php" class="row g-3 form-checking">
        <div class="col-md-4 position-relative">

          <label for="firstName" class="form-label">First name</label>
          <input type="text" class="form-control" id="firstName" placeholder="Enter first name" value="" required>
          <div class="invalid-feedback">Please fill your first name</div>
        </div>
        <div class="col-md-4 position-relative">

          <label for="lastName" class="form-label">Last name</label>
          <input type="text" class="form-control" id="lastName" placeholder="Enter last name" value="" required>
          <div class="invalid-feedback">Please fill your last name.</div>
        </div>


        <div class="col-md-6 position-relative">
          <label for="validationTooltip03" class="form-label">City</label>
          <input type="text" class="form-control" id="validationTooltip03" placeholder="Enter city" required>
          <div class="invalid-feedback">Please fill your city.</div>
        </div>
        <div class="col-md-3 position-relative">
          <label for="validationTooltip04" class="form-label">State</label>
          <select class="form-select" id="validationTooltip04" required>
            <option selected disabled value="">Choose...</option>
            <option>...</option>
          </select>
          <div class="invalid-feedback">Please choose your state.</div>
        </div>
        <div class="col-md-3 position-relative">
          <label for="validationTooltip05" class="form-label">Zip</label>
          <input type="text" class="form-control" id="validationTooltip05" placeholder="Enter zip" required>
          <div class="invalid-feedback">Please fill your zip.</div>
        </div>

        <div class="col-md-6">
          <label for="message" class="form-label">
            Message *</label>
          <textarea name="message" type="text" id="message" class="form-control" placeholder="Required textarea"
            required></textarea>
          <div class="invalid-feedback">
            Please enter a message in the textarea.
          </div>
        </div>
        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" id="myCheck" name="remember" required>
          <label class="form-check-label" for="myCheck">I agree on blabla.</label>
          <div class="invalid-feedback">Check this checkbox to continue.</div>
        </div>

        <div class="col-12">
          <button type="submit" v-on:click="greet" class="btn btn-primary">Submit</button>
        </div>
      </form>

    </div>
  </div>
</div>