.navbar-brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  img {
    width: 150px;
    height: auto;
  }
}

.navbar-dark .navbar-nav .nav-link {
  &.router-link-active {
    color: #e5bf4a !important;
  }
  &:hover, &:focus {
    color: #e5bf4a;
    transition: all .3s ease-out 0s;
    a {
      &::after {
        content: "";
        position: absolute;
        background: #e5bf4a;
        left: 0;
        height: 1px;
        z-index: 1;
        right: auto;
        width: 100%;
        transition: all .4s ease-out 0s
      }
    }
  }
}