<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3 py-2">
  <div class="container">

    <router-link class="navbar-brand" to="/">
      <img src="../../assets/images/koma-logo.svg" alt="">
    </router-link>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul v-on:click="navbar" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item d-flex justify-content-between">
          <router-link class="nav-link" aria-current="page" to="/">Home
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/menu">Menu</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/chef">Chef</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/article">Article</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/reservations">Reservations</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/location">Location</router-link>
        </li>
      </ul>
    </div>
  </div>
</nav>