.social-media-container {
  color: #FFF;
}

ul {
  padding-left: 0;
  li {
    list-style-type: none;
    a {
      color: #FFF;
      text-decoration: none;
    }
  }
}

.btn_02 {
  color: #fff!important;
  border: 1px solid rgba(255,255,255,.2);
  display: inline-block;
  padding: 14px 36px 13px 39px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 400;
  background: none;
  border-radius: 0;
  margin-right: 4px;
  margin-bottom: 10px;
}