<div class="bg-dark text-white">
  <div class="container py-5">
    <div class="row">
      <div class="col-12">

        <div class="section-tittle my-5 text-center mb-70">
          <h2>Follow us on Instagram</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6" v-for="content in contents">
        <div class="instra-img mb-5">
          <a :href="content.href"><img :src="content.img" alt="" class="w-100"></a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bg-dark social-media-container">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-10">
        <div class="single-footer-caption mb-50">
          <div class="single-footer-caption mb-30">
            <div class="footer-tittle">
              <div class="footer-pera">
                <p>Consectetur adipiscing elit, sed do eiusmod tempor dunt ut labore et dolore magna aliqua. Ut enim ad
                  minim veniam, quis nostrud exercita tion ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>

            <div class="socila mt-50">
              <a href="#" class="btn_02">Instagram</a>
              <a href="https://bit.ly/sai4ull" class="btn_02">Facebook</a>
              <a href="#" class="btn_02">Twitter</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
        <div class="single-footer-caption mb-50">
          <div class="footer-tittle">
            <img src="https://preview.colorlib.com/theme/cakeshop/assets/img/icon/location.svg" alt="">
            <h4>Location</h4>
            <ul>
              <li>
                <p>The Shoppes at Marina Bay Sands, 2 Bayfront Avenue, #B1-67, Singapore 018972</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
        <div class="single-footer-caption mb-50">
          <div class="footer-tittle">
            <img src="https://preview.colorlib.com/theme/cakeshop/assets/img/icon/phone.svg" alt="">
            <h4>Contact</h4>
            <ul>
              <li><a href="#">65 6688 8690</a></li>
              <li>
                <p>koma.reservations@marinabaysands.com</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>