.mashtead {
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:absolute;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
    z-index: 4;
  }

    position: relative;
    width: 100%;
    height: calc(100vh - 90px);
    height: calc(var(--vh,1vh)*100 - 90px);
    overflow: hidden;


  .masthead-full {
    img {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      // max-width: none;
      // min-height: 100%;
      // -webkit-transform: translate(-50%,-50%);
      // transform: translate(-50%,-50%);
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // -o-object-fit: cover;
      // object-fit: cover;
    }
  }
}

.masthead-full {
  margin: 0;
  padding: 0;
  background-color: #2f2f2f;
  height: 100vh;
  width: 100vw;
  position: relative;
}
.main {
  .d1 {
    position: absolute;
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/heart-healthy-food-1580231690.jpg);
    background-size: 2700px 1500px;

    height: 30vh;
    width: 15vw;

    background-position: 0 50%;

    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    top: 50%;
    transform: translateY(-50%);
    ;
    z-index: 2;
    animation: dd1 10s 1, dd12 10s 1;
    animation-delay: 4s, 14s;
  }
  .d2 {
    position: absolute;
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/heart-healthy-food-1580231690.jpg);
    background-size: 2700px 1500px;

    height: 50vh;
    width: 25vw;

    background-position: -10vw 50%;
    left: 10vw;

    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd2 10s 2;
    animation-delay: 4s;
  }
  .d3 {
    position: absolute;
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/heart-healthy-food-1580231690.jpg);
    background-size: 2700px 1500px;
    overflow: hidden;

    height: 100vh;
    width: 40vw;
    left: 25vw;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    background-position: -35vw 50%;

    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    animation: dd3 10s 2;
    animation-delay: 4s;
  }
  .d4 {
    position: absolute;
    overflow: hidden;
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/heart-healthy-food-1580231690.jpg);
    background-size: 2700px 1500px;

    height: 80vh;
    width: 25vw;
    left: 60vw;
    background-position: -70vw 50%;

    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd4 10s 2;
    animation-delay: 4s;
  }
  .img-box {
    transition: all 1s ease-in;
    &:hover {
        transform:  translateY(-50%) scale(1.1);
        transition: all 1s ease-out;
    }
  }

  @keyframes dd1 {
    0% {
    }
    50% {
      width: 95vw;
    }
  }
  @keyframes dd12 {
    0% {
    }
    50% {
      background-position: -40px 50%;
    }
  }
  @keyframes dd2 {
    0% {
    }
    50% {
      background-position: -140px 50%;
    }
  }
  @keyframes dd3 {
    0% {
    }
    50% {
      background-position: -2040px 50%;
    }
  }
  @keyframes dd4 {
    0% {
    }
    50% {
      background-position: -840px 50%;
    }
  }
}