<div class="mashtead">
  <div class="content">
    <h1>Koma</h1>
  </div>
  <div class="masthead-full">
    <div class="main">
      <div class="d1 img-box"></div>
      <div class="d2 img-box"></div>
      <div class="d3 img-box"></div>
      <div class="d4 img-box"></div>
    </div>
  </div>
</div>