.post-entry.xsmall-horizontal .thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
}

.post-entry.xsmall-horizontal {
    .heading, .heading a {
        font-size: 1.5rem;
        line-height: 1.8rem;
        font-weight: 700;
        color: #FFF;
        text-decoration: none;
    }
    .text {
        color: #FFF;
    }
}
.article-list {
    a {
        color: #FFF;
        text-decoration: none;
    }
    span:not(.date) {
        display: block;
    }
}