<div class="bg-dark text-white article-list">
  <div class="row justify-content-center py-5">
    <div class="col-xl-6 col-lg-7 col-md-7">
      <div class="section-tittle text-center mb-50">
        <h2>Article</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <div class="row mb-4">
          <div class="col-12">
            <h2 class="h4 fw-bold">Sports</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="post-entry d-md-flex xsmall-horizontal mb-5">
              <div class="me-md-3 thumbnail mb-3 mb-md-0">
                <img src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg" alt="Image" class="img-fluid">
              </div>
              <div class="content">
                <div class="post-meta mb-1">
                  <a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a> —
                  <span class="date">July 2, 2020</span>
                </div>
                <h2 class="heading"><a href="single.html">Your most unhappy customers are your greatest source of
                    learning.</a></h2>
                <a href="#" class="post-author d-flex align-items-center">
                  <div class="author-pic">
                    <img src="https://preview.colorlib.com/theme/magdesign/images/xperson_1.jpg.pagespeed.ic.Zebptmx_f8.webp" alt="Image">
                  </div>
                  <div class="text">
                    <strong>Sergy Campbell</strong>
                    <span>Author, 26 published post</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="post-entry d-md-flex xsmall-horizontal mb-5">
              <div class="me-md-3 thumbnail mb-3 mb-md-0">
                <img src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg" alt="Image" class="img-fluid">
              </div>
              <div class="content">
                <div class="post-meta mb-1">
                  <a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a> —
                  <span class="date">July 2, 2020</span>
                </div>
                <h2 class="heading"><a href="single.html">Your most unhappy customers are your greatest source of
                    learning.</a></h2>
                <a href="#" class="post-author d-flex align-items-center">
                  <div class="author-pic">
                    <img src="https://preview.colorlib.com/theme/magdesign/images/xperson_1.jpg.pagespeed.ic.Zebptmx_f8.webp" alt="Image">
                  </div>
                  <div class="text">
                    <strong>Sergy Campbell</strong>
                    <span>Author, 26 published post</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row mb-4">
          <div class="col-12">
            <h2 class="h4 fw-bold">Business</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="post-entry d-md-flex xsmall-horizontal mb-5">
              <div class="me-md-3 thumbnail mb-3 mb-md-0">
                <img src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg" alt="Image" class="img-fluid">
              </div>
              <div class="content">
                <div class="post-meta mb-1">
                  <a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a> —
                  <span class="date">July 2, 2020</span>
                </div>
                <h2 class="heading"><a href="single.html">Your most unhappy customers are your greatest source of
                    learning.</a></h2>
                <a href="#" class="post-author d-flex align-items-center">
                  <div class="author-pic">
                    <img src="https://preview.colorlib.com/theme/magdesign/images/xperson_1.jpg.pagespeed.ic.Zebptmx_f8.webp" alt="Image">
                  </div>
                  <div class="text">
                    <strong>Sergy Campbell</strong>
                    <span>Author, 26 published post</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="post-entry d-md-flex xsmall-horizontal mb-5">
              <div class="me-md-3 thumbnail mb-3 mb-md-0">
                <img src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg" alt="Image" class="img-fluid">
              </div>
              <div class="content">
                <div class="post-meta mb-1">
                  <a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a> —
                  <span class="date">July 2, 2020</span>
                </div>
                <h2 class="heading"><a href="single.html">Your most unhappy customers are your greatest source of
                    learning.</a></h2>
                <a href="#" class="post-author d-flex align-items-center">
                  <div class="author-pic">
                    <img src="https://preview.colorlib.com/theme/magdesign/images/xperson_1.jpg.pagespeed.ic.Zebptmx_f8.webp" alt="Image">
                  </div>
                  <div class="text">
                    <strong>Sergy Campbell</strong>
                    <span>Author, 26 published post</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div></div>