<template>
  <NavBar msg="Welcome to Your Vue.js App"/>
  <router-view/>
  <FooterMain
    :homePage="homePage"/>
</template>

<style>
.btn-primary {
  background-color: #e5bf4a;
  border-color: #e5bf4a;
}
</style>


<script>
// @ is an alias to /src
import NavBar from './components/NavBar/NavBar.vue'
import FooterMain from './components/footermain/FooterMain.vue'

export default {
  name: 'App',
  data() {
    return {
      homePage: ""
    }
  },
  watch: {
    //footer add home__page
    '$route' () {
      if (this.$route.path === '/') {
        this.homePage = "home__page"
      }
      else {
        this.homePage = ""
      }
    }
  },
  components: {
    NavBar,
    FooterMain
  }
}
</script>
