/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('../fonts/montserrat-v18-latin-regular.woff2') format('woff2'),
         url('../fonts/montserrat-v18-latin-regular.woff') format('woff');
  }

  /* montserrat-medium - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local(''),
         url('../fonts/montserrat-v18-latin-500.woff2') format('woff2'),
         url('../fonts/montserrat-v18-latin-500.woff') format('woff');
  }

  /* montserrat-semibold - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local(''),
         url('../fonts/montserrat-v18-latin-600.woff2') format('woff2'),
         url('../fonts/montserrat-v18-latin-600.woff') format('woff');
  }

  /* montserrat-bold - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''),
         url('../fonts/montserrat-v18-latin-700.woff2') format('woff2'),
         url('../fonts/montserrat-v18-latin-700.woff') format('woff');
  }
