@use 'sass:math';

// Font
$primary-font: 'Montserrat', sans-serif;
$font-family-base: $primary-font;

// Font size
$font-size-normal: 1rem;

$line-height-normal: 1.625; // 26/16px
$line-height-medium: 1.57; // 22/14px
$line-height-small: 1.83; // 22/12px