footer {
    // position: absolute;
    // padding: 1rem;
    width: 100%;
    background-color: #efefef;
    text-align: center;
    z-index: 10;
    bottom: 0;
  }

footer.home__page  {
  position: fixed;
}