<footer class="footer py-3 bg-light bg-dark"
:class="homePage">
  <div class="container">
    <span class="text-white">
      By using our website, you agree to the use of cookies for web statistics
      purposes. No personal data is captured. | Copyright © 2001-2022
      Convertium Pte Ltd
    </span>
  </div>
</footer>