<div class="container">
  <div class="row my-5">
    <div class="col-lg-6">
      <p>test</p>
    </div>
    <div class="col-lg-6">
      <iframe width="420" height="315"
        src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
    </div>
  </div>
</div>